<div class="board">
 <% 8.downto(1) do |rank| %>
  <div class="row for-board">
   <div class="square no-border"><%= rank %></div>
   <% 1.upto(8) do |file| %>
    <%= board_square(rank, file, setup) %>
   <% end %>
  </div>
 <% end %>
 <!-- bottom row START -->
 <div class="row for-board">
   <div class="square no-border"></div>
   <% ('a'..'h').each do |file| %>
    <div class="square no-border"><%= file %></div>
   <% end %>
 </div>
 <!-- bottom row END -->
</div>
