<% used_pieces = pieces_on_the_board(setup) %>
<div class="pieces">
  <div class="row for-board">
    <% [{"id"=>"br1","html"=>"♜"},{"id"=>"bn1","html"=>"♞"},{"id"=>"bb1","html"=>"♝"},{"id"=>"bq1","html"=>"♛"},{"id"=>"bk1","html"=>"♚"},{"id"=>"bb2","html"=>"♝"},{"id"=>"bn2","html"=>"♞"},{"id"=>"br2","html"=>"♜"}].each do |piece| %>
      <%= piece_square("black", piece['id'], piece['html'], used_pieces) %>
    <% end %>
  </div>
  <div class="row for-board">
    <% (1..8).each do |index| %>
      <%= piece_square("black", "bp#{index}", "♟", used_pieces) %>
    <% end %>
  </div>
  <div class="row for-board">
    <% (1..8).each do |index| %>
      <%= piece_square("white", "wp#{index}", "♟", used_pieces) %>
    <% end %>
  </div>
  <div class="row for-board">
    <% [{"id"=>"wr1","html"=>"♜"},{"id"=>"wn1","html"=>"♞"},{"id"=>"wb1","html"=>"♝"},{"id"=>"wq1","html"=>"♛"},{"id"=>"wk1","html"=>"♚"},{"id"=>"wb2","html"=>"♝"},{"id"=>"wn2","html"=>"♞"},{"id"=>"wr2","html"=>"♜"}].each do |piece| %>
      <%= piece_square("white", piece['id'], piece['html'], used_pieces) %>
    <% end %>
  </div>
</div>
