<div class="pieces">
  <div class="row for-board">
    <div class="square"><div class="piece black" id="br1">♜</div></div>
    <div class="square"><div class="piece black" id="bn1">♞</div></div>
    <div class="square"><div class="piece black" id="bb1">♝</div></div>
    <div class="square"><div class="piece black" id="bq1">♛</div></div>
    <div class="square"><div class="piece black" id="bk1">♚</div></div>
    <div class="square"><div class="piece black" id="bb2">♝</div></div>
    <div class="square"><div class="piece black" id="bn2">♞</div></div>
    <div class="square"><div class="piece black" id="br2">♜</div></div>
  </div>
  <div class="row for-board">
    <div class="square"><div class="piece black" id="bp1">♟</div></div>
    <div class="square"><div class="piece black" id="bp2">♟</div></div>
    <div class="square"><div class="piece black" id="bp3">♟</div></div>
    <div class="square"><div class="piece black" id="bp4">♟</div></div>
    <div class="square"><div class="piece black" id="bp5">♟</div></div>
    <div class="square"><div class="piece black" id="bp6">♟</div></div>
    <div class="square"><div class="piece black" id="bp7">♟</div></div>
    <div class="square"><div class="piece black" id="bp8">♟</div></div>
  </div>
  <div class="row for-board">
    <div class="square"><div class="piece white" id="wp1">♟</div></div>
    <div class="square"><div class="piece white" id="wp2">♟</div></div>
    <div class="square"><div class="piece white" id="wp3">♟</div></div>
    <div class="square"><div class="piece white" id="wp4">♟</div></div>
    <div class="square"><div class="piece white" id="wp5">♟</div></div>
    <div class="square"><div class="piece white" id="wp6">♟</div></div>
    <div class="square"><div class="piece white" id="wp7">♟</div></div>
    <div class="square"><div class="piece white" id="wp8">♟</div></div>
  </div>
  <div class="row for-board">
    <div class="square"><div class="piece white" id="wr1">♜</div></div>
    <div class="square"><div class="piece white" id="wn1">♞</div></div>
    <div class="square"><div class="piece white" id="wb1">♝</div></div>
    <div class="square"><div class="piece white" id="wq1">♛</div></div>
    <div class="square"><div class="piece white" id="wk1">♚</div></div>
    <div class="square"><div class="piece white" id="wb2">♝</div></div>
    <div class="square"><div class="piece white" id="wn2">♞</div></div>
    <div class="square"><div class="piece white" id="wr2">♜</div></div>
  </div>
</div>
